[package]
name = "planetmap"
version = "0.1.0"
authors = ["Benjamin Saunders <ben.e.saunders@gmail.com>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"

[package.metadata.docs.rs]
all-features = true

[features]
simd = ["simdeez"]
ncollide = ["ncollide3d", "lru"]
nphysics = ["nphysics3d"]

[dependencies]
na = { package = "nalgebra", version = "0.21" }
slab = "0.4.2"
hashbrown = "0.7"
ash = { version = "0.31", optional = true }
simdeez = { version = "1.0", optional = true }
ncollide3d = { version = "0.23.1", optional = true }
nphysics3d = { version = "0.16.0", optional = true }
lru = { version = "0.5", optional = true }

[dev-dependencies]
winit = "0.22.2"
criterion = "0.3.2"
vk-shader-macros = "0.2"
memoffset = "0.5.4"
half = "1.3.0"
# empty feature set removes dependency on image 0.18.0
noise = { version = "0.6.0", default-features = false }
fuzzyblue = { git = "https://github.com/Ralith/fuzzyblue", rev = "c9b9aab954e1ebabf19f0ea4a9d3b1e236585571" }
approx = "0.3.2"
ash-window = "0.4.1"

[[bench]]
name = "bench"
harness = false

[[example]]
name = "demo"
required-features = ["ash", "ncollide", "nphysics"]

[target.'cfg(windows)'.dev-dependencies]
winapi = { version = "0.3.4", features = ["windef", "winuser"] }

[target.'cfg(target_os = "macos")'.dev-dependencies]
metal-rs = "0.6"
cocoa = "0.13"
objc = "0.2.2"
