[package]
name = "planetmap"
version = "0.1.0"
authors = ["Benjamin Saunders <ben.e.saunders@gmail.com>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"

[package.metadata.docs.rs]
all-features = true

[features]
simd = ["simdeez"]
ncollide = ["ncollide3d", "lru"]
nphysics = ["nphysics3d"]

[dependencies]
na = { package = "nalgebra", version = "0.22" }
slab = "0.4.2"
hashbrown = "0.9"
ash = { version = "0.31", optional = true }
simdeez = { version = "1.0", optional = true }
ncollide3d = { version = "0.24.0", optional = true }
nphysics3d = { version = "0.17.0", optional = true }
lru = { version = "0.6", optional = true }

[dev-dependencies]
winit = "0.23.0"
criterion = "0.3.2"
vk-shader-macros = "0.2"
memoffset = "0.6.1"
half = "1.3.0"
# empty feature set removes dependency on image 0.18.0
noise = { version = "0.7.0", default-features = false }
fuzzyblue = { git = "https://github.com/Ralith/fuzzyblue", rev = "4a523ab386b5709f7c6ea7c28e623e4c4ebd1ba1" }
approx = "0.3.2"
ash-window = "0.5.0"

[[bench]]
name = "bench"
harness = false

[[example]]
name = "demo"
required-features = ["ash", "ncollide", "nphysics"]
